* {
    margin: 0;
}

.calculator {
    position: absolute;
    margin: auto;
    border: 5px solid black;
    height: 605px;
    width: 452px;
}

#result {
    background-color: #a7a498;
    position: relative;
    margin: auto;
    width: 444px;
    height: 100px;
}

.buttons-rows {
    position: relative;
    margin: auto;
}

.btn-row-one, .btn-row-two, .btn-row-three, .btn-row-four, .btn-row-five {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.operator {
    background-color: #ca8333;
}

.number {
    background-color: #c0bfb9;
}

.clear, .backspace {
    background-color: #cfcecc;
}

button {
    height: 100px;
    width: 113px;
    font-size: 48px;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

button:active {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: inset 10px 10px 20px 5px rgba(0,0,0,0.1),inset -10px -10px 20px 5px rgba(0,0,0,0.1);
}

.clear, .large-number {
    width: 226px !important;
}

