* {
    margin: 0;
}

/* Calculator Main  */
.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 5px solid black;
    height: 605px;
    width: 452px;
}

/* Result Box */
#result {
    background-color: #a7a498;
    position: relative;
    margin: auto;
    width: 444px;
    height: 100px;
}
/* END Result Box*/

/* Buttons */
.buttons-rows {
    position: relative;
    margin: auto;
}

.btn-row-one, .btn-row-two, .btn-row-three, .btn-row-four, .btn-row-five {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.operator {
    background-color: #ca8333;
}

.number, .decimal {
    background-color: #c0bfb9;
}

.clear, .backspace {
    background-color: #cfcecc;
}

button {
    height: 100px;
    width: 113px;
    font-size: 48px;
    font-family: "Orbitron", sans-serif;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

button:active, .pressed {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: inset 10px 10px 20px 5px rgba(0,0,0,0.1),inset -10px -10px 20px 5px rgba(0,0,0,0.1);
    font-size: 45px;
}

.clear, .large-number {
    width: 226px !important;
}

.material-icons {
    font-size: 60px;
}

.material-icons:active {
    font-size: 50px;
}
/* END Buttons */


