* {
    margin: 0;
}

/* Calculator Main  */
.calculator {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
    height: 605px;
    width: 452px;
}

/* Result Box */
#result {
    background-color: #a7a498;
    grid-column-start: span 4;
}
/* END Result Box*/

/* Buttons */
.container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.operator {
    background-color: #ca8333;
}

.number, .decimal {
    background-color: #c0bfb9;
}

.clear, .backspace {
    background-color: #cfcecc;
    grid-column-start: span 1;
}



button {
    font-size: 48px;
    font-family: "Orbitron", sans-serif;
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
}

button:active, .pressed {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: inset 10px 10px 20px 5px rgba(0,0,0,0.1),inset -10px -10px 20px 5px rgba(0,0,0,0.1);
    font-size: 45px;
}

.clear, .large-number {
    grid-column-start: span 2;
}

.material-icons {
    font-size: 60px;
}

.material-icons:active .pressed-delete{
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: inset 10px 10px 20px 5px rgba(0,0,0,0.1),inset -10px -10px 20px 5px rgba(0,0,0,0.1);
    font-size: 50px;
}
/* END Buttons */


